body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}


/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}


/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* Sections */

.rainbow-color {
  background-color: #ff4c68;
  color: #fff;
}

.white-color {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  margin: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */
.download-button {
 margin: 5% 3% 5% 0;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */

.iphone-mockup {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/* Features */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-col {
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}


/* Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* Press */

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing */

.pricing-col {
  padding: 5% 3%;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}


/* Footer */

.footer-icon {
  padding: 20px 10px;
}


/* Media Query */

@media (max-width: 990px) {
  .iphone-mockup {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
